<div class="container">
    <div class="card text-center" style="margin: 30px 5px 5px 5px;">
        <div class="card-title">
            <h1 style="color: #17a2b8;">ALL USERS</h1>
        </div>
    </div>
    <div class="user">
        <% for(let i = 0; i < users.length; i++) { %>
            <a href="/api/users/<%= users[i].id %>" style="text-decoration: none !important;">
                <div class="card " style="margin: 5px;">
                    <div class="card-body">
                        <article>
                            <div class="card" style="margin-bottom: 15px !important; border-radius: 25px !important; padding-left: 40px;">
                                <div class="card-body" style="padding: 5px !important;">
                                    <h2 >User Name: <%= users[i].name %></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <p>Email: <%= users[i].email %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>Current_credit: <%= users[i].current_credit %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>Transfer_credit: <%= users[i].transfer_credit %></p>
                                </div>
                                <div class="col-md-3">
                                     <p>Created_Date: <%= users[i].date %></p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>