<div class="container">
    <div class="card text-center" style="margin: 30px 5px 5px 5px;">
        <div class="card-title">
            <h1 style="color: #17a2b8;">ALL USERS</h1>
        </div>
    </div>
    <div class="user">
        <% for(let i = 0; i < users.length; i++) { %>
            <a href="/api/users/<%= users[i].id %>">
                <div class="card " style="margin: 5px;">
                    <div class="card-body">
                        <article>
                            <h2><%= users[i].name %></h1>
                            <div class="row">
                                <div class="col-md-3">
                                    <p> <%= users[i].email %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>current_credit <%= users[i].current_credit %></p>
                                </div>
                                <div class="col-md-3">
                                    <p>transfer_credit <%= users[i].transfer_credit %></p>
                                </div>
                                <div class="col-md-3">
                                    Date
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</div>